<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Início</a></li>
    <li class="breadcrumb-item active">Professores</li>
  </ol>
</nav>

<div class="row mb-4">
  <div class="col-md">
    <h1 class="h2 border-left pl-2">
      Professores
    </h1>
  </div>
  <div class="col-md">
    <a routerLink="new" class="btn btn-success float-right">
      + Novo
    </a>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr class="bg-dark text-light">
      <th>Professor</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let resource of resources">
      <td>
        <strong>{{ resource.name }}</strong
        ><br />
        <small
          >Email: {{ resource.email }} | Contato: {{ resource.phone }}</small
        >
      </td>
      <td>
        <a
          [routerLink]="[resource.id, 'edit']"
          class="btn btn-outline-info btn-sm mr-2"
          >Editar</a
        >
        <button
          (click)="deleteResource(resource.id)"
          class="btn btn-outline-danger btn-sm"
        >
          Excluir
        </button>
      </td>
    </tr>
  </tbody>
</table>
