<table class="table table-hover">
  <thead>
    <tr class="bg-dark text-light">
      <th>{{title}}</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let resource of resources">
      <td>
        <div>
          <strong>{{ resource[mainField.value] }}</strong>
        </div>
        <div *ngFor="let field of otherFields">
          <small>
            <strong>{{ field.label }}:</strong> {{ resource[field.value] }}
          </small>
        </div>
      </td>
      <td class="align-middle">
        <a
          [routerLink]="[resource.id, 'edit']"
          class="btn btn-outline-info btn-sm mr-2"
          >Editar</a
        >
        <button
          (click)="deleteResource(resource.id)"
          class="btn btn-outline-danger btn-sm"
        >
          Excluir
        </button>
        <button class="ml-2" *ngFor="let action of modalActions"
          (click)=openModal(action.modalRef)
          class="btn btn-outline-{{action.type}} btn-sm"
        >
          {{ action.name }}
        </button>
      </td>
    </tr>
  </tbody>
</table>
